<div class="p-fluid">
    <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-3">
            <div class="card cards">
                <div style="display: flex; justify-content: center;">
                    <div class="p-col-8">
                        <app-date-navigator (alterouData)="alterouData($event)"></app-date-navigator>
                    </div>
                </div>
                <div class="p-col-8">
                    <div>
                        <app-date [(ngModel)]="dateStart"></app-date>
                    </div>
                    <div>
                        <app-date [(ngModel)]="dateEnd"></app-date>
                    </div>
                </div>
                <!-- <div class="p-col-3" class="card-1-update-button">
                    <p>Atualizar</p>
                    <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-refresh" (click)="()"></button>
                </div> -->

                <div class="p-col-3 card-1-update-button" (click)="updateData()">
                    <p>Atualizar</p>
                    <img src="../../../../assets/images/Vector.png" alt="Vetor de Atualizar">
                </div>

                <div class="p-col-3">
                    <div class="card card-1-transaction-card">
                        <div class="card-1-balance">
                            <h4>Saldo</h4>
                            <i class="pi pi-eye"></i>
                        </div>
                        <div class="card-1-amount-balance">
                            <p>R$</p>
                            <span *ngIf="this.data" appAlignLeft> {{ Balance | virgulaPipe }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-3">
                <button class="reconciliations-button">
                    <p>você tem novas</p>
                    <span>Conciliações</span>
                </button>
            </div>
        </div>
        <div class="p-col-9 p-grid p-fluid">
            <div class="p-col-5">
                <div class="card main-expenses-card">
                    <h3 class="centerText">Principais Despesas</h3>
                    <p-chart type="doughnut" [data]="donutChartExpenseData" [options]="optionsDoughnutExpense"></p-chart>
                </div>
            </div>
            <div class="p-col-5">
                <div class="card bar-chart-card">
                    <h3 class="centerText">Receitas Vs Despesas</h3>
                    <p-chart type="bar" [data]="dataBar" [options]="optionsBar"></p-chart>
                </div>
            </div>
        </div>
        <h3 class="account-management">Gerenciamento de contas</h3>
        <div class="p-col-12 p-grid p-fluid">
            <div class="p-col-3">
                <div class="card account-card">
                    <h3>Banco X</h3>
                    <p>Conta: 01</p>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
            <div class="p-col-3">
                <div class="card account-card">
                    <h3>Banco X</h3>
                    <p>Conta: 01</p>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
            <div class="p-col-3">
                <div class="card account-card">
                    <h3>Banco X</h3>
                    <p>Conta: 01</p>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
            <div class="p-col-3">
                <div class="card account-card">
                    <h3>Banco X</h3>
                    <p>Conta: 01</p>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
        </div>
    </div>
</div>

