
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap'); */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap')
}

/* 1 CARD */
.cards {
    width: 28rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    border-radius: 25px;
}

.card-1-update-button {
    margin-left: 18rem;
    /* margin-top: -2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background: #FFFFFF;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin-top: -8rem;
}

.card-1-update-button p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #9C9C9C;
}

.card-1-update-button:hover {
    cursor: pointer;
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.6);
}

.card-1-transaction-card {
    background: linear-gradient(90deg, #04B6EB 0%, #0AC684 100%);
    width: 24rem;
    color: #fff;
    border-radius: 25px;
    margin-top: 1rem;
}

.card-1-balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-1-balance h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.card-1-balance i {
    font-size: 1.5rem;
}

.card-1-amount-balance {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.card-1-amount-balance p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* line-height: 20px; */
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-1-amount-balance span {
    font-size: 2.5rem;
    font-weight: bold;
}

/* CARD DE PENDECIAS */
.reconciliations-button {
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 1rem;
    background: #3B4CC0;
    border-radius: 25px;
    color: #fff;

    margin-top: 1rem;
}

.reconciliations-button p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}

.reconciliations-button span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

/* CARD DE PRINCIPAIS DESPESAS */
.main-expenses-card {
    height: 31.5rem;
    margin-left: -3rem;
    margin-right: 1rem;
    border-radius: 25px;

    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D; */
}

.main-expenses-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

/* CARD GRAFICO DE BARRAS */
.bar-chart-card {
    height: 31.5rem;
    width: 56rem;
    border-radius: 25px;
}

.bar-chart-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

.account-management {
    margin: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4D4D4D;
}

/* CARD CONTAS */
.account-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;

    margin-right: 1rem;
}

.account-card .bank-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-bottom: 1rem;
}

.account-card .bank-info img {
    width: 4rem;
    height: 4rem;
}

.bank-info .bank-account-info {
    display: flex;
    flex-direction: column;
}

.bank-info .bank-account-info h3 {
    margin-top: 1rem;
}

.account-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3B4CC0;
    margin-bottom: 1px;
}

.account-card p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

.account-card h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #3B4CC0;
    display: flex;
    justify-content: flex-start;
}

.balance {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.balance h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 5px;
}

.balance span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* color: #4D4D4D; */
    color: #12D90B;
}

.summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}

.summary h5 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2px;
}

.summary-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary-data p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #828282;
    margin-bottom: 2px;
}

.summary-data span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #FF1414;
}

.account-card button {
    background: linear-gradient(293.01deg, #04B6EB -1.68%, #0AC684 88.05%);
    border-radius: 8px;
    border: none;
    padding: 1rem;
    width: 65%;
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.account-card button:hover {
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1440px) {
    .cards {
        width: 23rem;
    }
    .date {
        width: 12rem;
    }
    .card-1-update-button {
        margin-left: 14rem;
    }
    .card-1-transaction-card {
        width: 19.5rem;
    }
    .reconciliations-button {
        width: 22rem;
    }
    .main-expenses-card {
        margin-left: 0;
        height: 30.5rem;
    }
    .bar-chart-card {
        width: 43rem;
        height: 30.5rem;
    }
    .account-management {
        margin-top: 0.3rem;
    }
    .account-card {
        width: 23rem;
    }
    .account-card:last-child(4) {
        margin-right: 0;
    }
}
