<div class="p-fluid">
    <div class="p-grid p-fluid">
        <div class="part-cards-1">
            <div class="card cards">
                <div style="display: flex; justify-content: center;">
                    <div class="date-mes-ano">
                        <app-date-navigator (alterouData)="alterouData($event)"></app-date-navigator>
                    </div>
                </div>
                <div class="dates">
                    <div class="date">
                        <app-date [(ngModel)]="dateStart"></app-date>
                    </div>
                    <div class="date">
                        <app-date [(ngModel)]="dateEnd"></app-date>
                    </div>
                </div>

                <div class="p-col card-1-update-button" (click)="updateData()">
                    <p>Atualizar</p>
                    <img src="../../../../assets/images/Vector.png" alt="Vetor de Atualizar">
                </div>

                <div class="p-col">
                    <div class="card card-1-transaction-card">
                        <div class="card-1-balance">
                            <h4>Saldo</h4>
                            <button class="card-1-button" (click)="seeBalance()">
                                <img src="../../../../assets/images/olhinho-aberto.svg" alt="Olho">
                            </button>
                        </div>
                        <div class="card-1-amount-balance">
                            <p>R$</p>
                            <span *ngIf="this.data" appAlignLeft> {{ Balance | virgulaPipe }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-3">
                <button class="reconciliations-button" (click)="reconciliations()">
                    <p>você tem novas</p>
                    <span>Conciliações</span>
                </button>
            </div>
        </div>
        <div class="p-grid p-fluid cards-expenses-revenue">
            <div class="col-main-expenses-card">
                <div class="card main-expenses-card">
                    <h3 class="centerText">Principais Despesas</h3>
                    <p-chart type="doughnut" [data]="donutChartExpenseData" [options]="optionsDoughnutExpense"></p-chart>
                </div>
            </div>
            <div class="col-bar-chart-card">
                <div class="card bar-chart-card">
                    <h3 class="centerText">Receitas Vs Despesas</h3>
                    <p-chart type="bar" [data]="dataBar" [options]="optionsBar"></p-chart>
                </div>
            </div>
        </div>


        <p-carousel [value]="accounts" [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptions" [circular]="true" [style]="{'width':'1870px'}">
            <ng-template pTemplate="header">
                <h3 class="account-management">Gerenciamento de contas</h3>
            </ng-template>
            <ng-template let-account pTemplate="item">
                <div class="product-item col-account-card">
                    <div class="card account-card">

                        <div class="bank-info product-image">
                            <img [src]="'../../../../assets/images/' + account.BankCode + '.svg'" [alt]="account.BankCode" class="product-image" />
                            <div class="bank-account-info">
                                <h3> {{ account.Name }} </h3>
                                <p>Conta: {{ account.AccountNumber }} </p>
                            </div>
                        </div>

                        <div class="balance">
                            <h4>Saldo atual:</h4>
                            <span> R$ {{ account.Balance || virgulaPipe }} </span>
                        </div>

                        <div class="summary">
                            <h5>Resumo</h5>
                        </div>

                        <div class="summary-data">
                            <p> {{ Historic }} </p>
                            <span> {{ ReleaseBalance || virgulaPipe }} </span>
                        </div>
                        <div class="summary-data">
                            <p> {{ Historic }} </p>
                            <span> {{ ReleaseBalance || virgulaPipe }} </span>
                        </div>
                        <div class="summary-data">
                            <p> {{ Historic }} </p>
                            <span> {{ ReleaseBalance || virgulaPipe }} </span>
                        </div>

                        <button (click)="viewAccountPage(account.Id)">Ver mais</button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>



        <!-- <div class="p-col-12 p-grid p-fluid" id="container-account-card">
            <div class="p-col-3" class="col-account-card">
                <div class="card account-card">
                    <div class="bank-info">
                        <img src="../../../../assets/images/image banco bradesco.svg" alt="Icone do banco Bradesco">
                        <div class="bank-account-info">
                            <h3>Banco Bradesco</h3>
                            <p>Conta: 01</p>
                        </div>
                    </div>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
            <div class="p-col-3" id="last-col-account-card">
                <div class="card account-card" id="last-account-card" style="margin-right: 0;">
                    <div class="bank-info">
                        <img src="../../../../assets/images/image banco santader.svg" alt="Icone do banco Santader">
                        <div class="bank-account-info">
                            <h3>Banco Santader</h3>
                            <p>Conta: 01</p>
                        </div>
                    </div>
                    <div class="balance">
                        <h4>Saldo atual:</h4>
                        <span>R$ 650,00</span>
                    </div>
                    <div class="summary">
                        <h5>Resumo</h5>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <div class="summary-data">
                        <p>S boulevard</p>
                        <span>-R$ 10,99</span>
                    </div>
                    <button>ver mais</button>
                </div>
            </div>
        </div> -->
    </div>
</div>

