h1 {
    font-size: 20px;
    font-weight: bold;
    color: #3B4CC0;
    // #2C3E50;
    // color: #B8860B;
    margin-top: 25px;
    margin-bottom: 0;
}

.login-body-fixo {
    padding: 1px;
    padding-bottom: 400px;    
    background-color: #2C3E50;
    // background-color: #2f4050;
    background-size: 100% auto;
    height: auto;
    box-sizing: border-box;
}

.login-panel-fixo {
    text-align: center;
    width: 500px;
    min-height: 440px;
    padding: 10px 10px 10px 130px;
    margin: 100px auto 0 auto;
}

.button-fixo {
    background-color: #3B4CC0;
    // #2C3E50;
    // background-color: #2f4050;
    &:hover {
        background-color: #17E346;
        // #33CCCC;
        // background-color: #1ab394;
    }

    &:focus {
        outline: 0 none;
        background-color: lighten(#2f4050, 10%);
    }

    &.secondary {
        &:hover {
            background-color: #2f4050;
        }

        &:focus {
            outline: 0 none;
            background-color: lighten(#1ab394,10%);
        }
    }
}