h1 {
    font-size: 20px;
    font-weight: bold;
    color: #3B4CC0;
    // #2C3E50;
    // color: #B8860B;
    margin-top: 25px;
    margin-bottom: 0;
}

.login-body-fixo {
    padding: 0;
    padding-bottom: 0;
    background-color: #2C3E50;
    // background-color: #2f4050;
    background-size: auto auto auto auto;
    height: auto;
    box-sizing: border-box;
}

.login-body-imagem {
    // position: relative;
    height: 90vh;
    width: 70vw;
    background-image: url("../../../assets/images/login.svg");
    background-size: 100% 100%;
    // box-sizing: border-box;
}

.login-panel {
    text-align: center;
    width: 350px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;    
}

.login-panel-fixo {
    text-align: center;
    width: 340px;
    height: 595px;
    min-height: 440px;
    padding: 50px 50px;
    background-color: white;
    // margin-bottom: -10px;
    // margin: auto auto auto auto;
    
}

.button-fixo {
    background-color: #3B4CC0;

    // #2C3E50;
    // background-color: #2f4050;
    &:hover {
        background-color: #17E346;
        // #33CCCC;
        // background-color: #1ab394;
    }

    &:focus {
        outline: 0 none;
        background-color: lighten(#2f4050, 10%);
    }

    &.secondary {
        &:hover {
            background-color: #2f4050;
        }

        &:focus {
            outline: 0 none;
            background-color: lighten(#1ab394, 10%);
        }
    }
}