<div [ngClass]="{'p-col margem': !end,'p-col': end, 'p-fluid': true}" style="display: flex; justify-content: flex-end; margin-top: 5px;">
    <div [class]="tamanhoCancelar" style="margin-right:10px;">
        <button pButton type="button" [label]="labelCancelar" style="background: #ee746d;" (click)="clickCancelar()"></button>
    </div>
    <div [class]="tamanhoConfirma">
        <button pButton type="button" [label]="labelConfirmar" style="background-color: #3B4CC0;" (click)="clickConfirmar()"></button>
    </div>
</div>
