h1 {
    font-size: 20px;
    font-weight: bold;
    color: #B8860B;
    margin-top: 25px;
    margin-bottom: 0;
}

.login-body-fixo {
    padding: 85px;
    background-color: #2f4050;
    background-size: 100% auto;
    height: auto;
}

.login-panel-fixo {
    text-align: center;
    width: 350px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;
}

.button-fixo {
    background-color: #2f4050;
    &:hover {
        background-color: #1ab394;
    }

    &:focus {
        outline: 0 none;
        background-color: lighten(#2f4050, 10%);
    }

    &.secondary {
        &:hover {
            background-color: #2f4050;
        }

        &:focus {
            outline: 0 none;
            background-color: lighten(#1ab394,10%);
        }
    }
}