<div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-1 ui-g-offset-9" style="font-size: 18px; margin-right: -50px;">
        <i class="fa fa-file-pdf" style="cursor: pointer;" (click)="downloadPdf()"></i>
    </div>
    <div class="ui-g-2">
        <button pButton label="Processar Conciliação" (click)="processarConciliacao()"></button>
    </div>
</div>

<div class="ui-g-12 ui-g-nopad">
    <div style="margin-bottom: 40px;" *ngFor="let item of lista; let i = index;">
        <app-reconciled-transfer [data]="item" [optionsConta]="selectContaCaixa"
                                      [optionsNaturezaFinanceira]="selectNaturezaFinanceira"
                                      type="extratoNaoConciliado" [dataPesquisa]="dataPesquisa"
                                      (recarregarDados)="removerItem(i)"></app-reconciled-transfer>
    </div>
</div>

<div style="min-width: 90vw; display: flex; justify-content: center;">
    <div class="ui-g-2" style="margin: 30px 0;">
        <button *ngIf="lista.length < totalItens" pButton label="Carregar Mais" (click)="loadData()"></button>
    </div>
</div>
