.margem {
    margin-bottom: 30px;
}

image-cropper {
    width: 100%;
    max-width: 100%;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    max-width: 50%;
    margin-bottom: 10px;
}

.card:hover{
    cursor: pointer;
    /* top: -2px; */
    /* opacity: 80%; */
    /* box-shadow: 0 2px 2px #666; */
        
}

::ng-deep .test { background: red; color: yellow;}
