<div class="p-fluid p-formgrid p-grid">
    <div class="p-col-1 p-offset-9" style="font-size: 18px; margin-right: -50px;">
        <i class="pi pi-file-pdf" style="font-size: 2rem; cursor: pointer" (click)="downloadPdf()"></i>
    </div>
    <div class="p-col-2" style="margin-bottom: 10px;">
        <button pButton label="Processar Conciliação" (click)="processarConciliacao()"></button>
    </div>
    <p-table [value]="contabilNaoConciliados" [paginator]="true" [rows]="10" [totalRecords]="contabilNaoConciliados.length" [rowsPerPageOptions]="opcoesLinhas">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 10%;">Data</th>
            <th style="width: 20%;">Histórico</th>
            <th style="width: 8%;">Documento</th>
            <th style="width: 5%;">Valor</th>
            <th style="width: 4%;">Tipo</th>
            <th style="width: 14%;">Pessoa</th>
            <th style="width: 10%;">Natureza</th>
            <th style="width: 4%;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td appAlignCenter>{{rowData.Data | date}}</td>
            <td>{{rowData.Historico}}</td>
            <td>{{''}}</td>
            <td appAlinharDireita [ngClass]="colorValue(rowData.Valor)">{{rowData.Valor | virgulaPipe}}</td>
            <td>{{rowData.Tipocontabil}}</td>
            <td>{{rowData.Pessoa}}</td>
            <td>{{rowData.Natureza}}</td>
            <td>
                <app-opcoes-table [value]="rowData" [opcoes]="itemsRowConciliacao"></app-opcoes-table>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
<p-confirmDialog header="Confirmacao" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
