<ng-container *ngTemplateOutlet="conteudo"></ng-container>
<ng-template #conteudo>
    <div>      
        <p-card>
            <div class="p-fluid p-formgrid p-grid">  
                <div class="p-col-4">
                    <app-input [label]="'Ultimo Disparo WhatsApp'"></app-input>
                </div>
                <div class="p-col-4">
                    <app-input [label]="'Ultimo Disparo E-mail'"></app-input>
                </div>
            </div>

            <div style="margin-top: 50px;">
                <app-footer-page [end]="true" (confirmar)="processarFormulario()" (cancelar)="cancelarLocal()"
                    labelConfirmar="Gravar"></app-footer-page>
            </div>
            
        </p-card>
    </div>
</ng-template>
<p-toast position="bottom-right"></p-toast>