<div class="p-fluid">
    <div class="p-col-12 p-grid p-fluid">

        <div class="p-col-3">
            <div class="p-col-6" style="width: 200px;">
                <app-date-navigator (alterouData)="alterouData($event)"></app-date-navigator>
            </div>
            <div class="p-col-3">
                <p-card header="Total de Transações" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                    <p>Transações</p>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card header="Pendecias com analistas" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                    <p>620 Lançamentos</p>
                    <p>52 Empresas</p>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card header="Pendecias com clientes" [style]="{'width': '20rem', 'margin-bottom': '1em'}">

                    <p>180 Lançamentos</p>
                    <p>32 Empresas</p>
                </p-card>
            </div>

        </div>

        <div class="p-col-5">
            <div class="card">
                <h5 class="centerText">Lançamento</h5>
                <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
            </div>
        </div>

        <div class="p-col-4">
            <div class="card">
                <h5 class="centerText">Analista</h5>
                <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart>
            </div>
        </div>

    </div>
    <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-3">
            <p-card header="Processos com nomes" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                <ng-template pTemplate="header">
                </ng-template>
                <div>
                    <p>Inteligência Artificial</p>
                    <div class="proccess-bar"></div>
                </div>
                <div>
                    <p>Analistas</p>
                    <div class="proccess-bar"></div>
                </div>
                <div>
                    <p>Clientes</p>
                    <div class="proccess-bar"></div>
                </div>
            </p-card>
        </div>

        <div class="p-col-5">
            <div class="card">
                <h5 class="centerText">Por tempo de atraso</h5>
                <!--
                    [(rows)]="qtdLinhas" [totalRecords]="totalItens" [value]="lista"
                    (onLazyLoad)="lazyLoad($event)" [rowsPerPageOptions]="opcoesLinhas"
                -->
                <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th [ngStyle]="{width: '20%'}"> 760 dias </th>
                            <th [ngStyle]="{width: '20%'}"> Empresas 20 </th>
                            <th [ngStyle]="{width: '20%'}"> C/ Analistas 80 </th>
                            <th [ngStyle]="{width: '20%'}"> C/ Clientes 150 </th>
                            <th [ngStyle]="{width: '20%'}"> TOTAL </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <!--
                            <td>{{rowData.Historic}}</td>
                            <td appAlignCenter>{{rowData.Level}}</td>
                            <td appAlignRight>{{rowData.CodeControl}}</td>
                            -->
                            <!--
                            <td appAlignCenter>
                                <app-opcoes-table [value]="rowData" [opcoes]="opcoesTable"></app-opcoes-table>
                            </td>
                            -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="p-col-2">
            <div class="card" style="margin-bottom:1rem;">
                <h5 class="centerText">Conta Ativa</h5>
                <p-chart type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div class="p-col-2">
            <div class="card">
                <h5 class="centerText">Empresas Ativas</h5>
                <p-chart type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
            </div>
        </div>

        <div class="p-col-3"></div>

        <div class="p-col-5">
            <div class="card">
                <h5 class="centerText">Pendências por Empresas</h5>
                <!--
                    [(rows)]="qtdLinhas" [totalRecords]="totalItens" [value]="lista"
                    (onLazyLoad)="lazyLoad($event)" [rowsPerPageOptions]="opcoesLinhas"
                -->
                <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th [ngStyle]="{width: '20%'}"> Empresas </th>
                            <th [ngStyle]="{width: '20%'}"> Contas </th>
                            <th [ngStyle]="{width: '20%'}"> C/ Analistas </th>
                            <th [ngStyle]="{width: '20%'}"> C/ Clientes </th>
                            <th [ngStyle]="{width: '20%'}"> TOTAL </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <!--
                            <td>{{rowData.Historic}}</td>
                            <td appAlignCenter>{{rowData.Level}}</td>
                            <td appAlignRight>{{rowData.CodeControl}}</td>
                            -->
                            <!--
                            <td appAlignCenter>
                                <app-opcoes-table [value]="rowData" [opcoes]="opcoesTable"></app-opcoes-table>
                            </td>
                            -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>
</div>
