<div class="p-fluid">
    <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-12 p-grid p-fluid" >
            <div class="p-col-3">
                <p-card header="Total de Transações" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                    <p *ngIf="this.data"> {{ Amount }} </p>
                    <br>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card header="Pendências com analistas" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                    <p *ngIf="this.data"> {{ AnalistPending }}  Lançamentos</p>
                    <p *ngIf="this.data"> {{ CompanyPendingAnalist }}  Empresas</p>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card header="Pendências com clientes" [style]="{'width': '20rem', 'margin-bottom': '1em'}">
                    <p *ngIf="this.data"> {{ CostomerPending }} Lançamentos</p>
                    <p *ngIf="this.data"> {{ CompanyPendingCostomer }} Empresas</p>
                </p-card>
            </div>

            <div class=" p-col-3">
                <div class="4">
                    <div class="card" style="height: 131px;">
                        <h5 *ngIf="this.data" class="centerText">Empresas Ativas {{ ActiveCompany }}</h5>
                        <h5 *ngIf="this.data" class="centerText">Conta Ativa {{ ActiveAccount }}</h5>
                        <!-- <p-chart *ngIf="this.data.ActiveCompany" type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-3">
            <div style="display: flex; justify-content: center;">
                <div class="p-col-2" style="width: 200px; margin-right: 10px;">
                    <app-date-navigator (alterouData)="alterouData($event)"></app-date-navigator>
                </div>
                <!-- Adicionar icon no botao -->
                <div class="p-col-2" style="width: 100px;" >
                    <!-- <button pButton type="button" label="Atualizar"></button> -->
                    <button pButton type="button" icon="pi pi-sync" iconPos="left" >
                        <span class="pi pi-sync"></span>
                    </button>
                    <!-- <button pButton type="button" icon="pi pi-sync" iconPos="left" label="Atualizar"></button> -->
                </div>
            </div>
            <p-card *ngIf="this.data" header="Transações Conciliadas: {{ AmountReconciled }}"  [style]="{'width': '21rem', 'margin-bottom': '1em'}">
                <div>
                    <p>Inteligência Artificial</p> 
                    <div *ngIf="IaReconciled" class="proccess-bar">
                        <!-- <p-slider></p-slider> -->
                    </div>
                </div>
                <div>
                    <p>Analista</p>
                    <div *ngIf="AnalistReconciled" class="proccess-bar"></div>
                </div>
                <div>
                    <p>Cliente</p>
                    <div *ngIf="CostomerReconciled" class="proccess-bar"></div>
                </div>
            </p-card>
        </div>

        <div class="p-col-5">
            <div class="card">
                <h5 class="centerText">Transações</h5>
                <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
            </div>
        </div>
        <div class="p-col-4">
            <div class="card">
                <h5 class="centerText">Analistas</h5>
                <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart> -->
                <p-table [value]="cars">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Vin</th>
                            <th>Year</th>
                            <th>Brand</th>
                            <th>Color</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-car>
                        <tr>
                            <td>{{car.vin}}</td>
                            <td>{{car.year}}</td>
                            <td>{{car.brand}}</td>
                            <td>{{car.color}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="p-col-12 p-grid p-fluid">
            <div class="p-col-6">
                <div class="card">
                    <h5 class="centerText">Por tempo de atraso</h5>
                    <!--
                        [(rows)]="qtdLinhas" [totalRecords]="totalItens" [value]="lista"
                        (onLazyLoad)="lazyLoad($event)" [rowsPerPageOptions]="opcoesLinhas"
                    -->
                    <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th [ngStyle]="{width: '20%'}"> 760 dias </th>
                                <th [ngStyle]="{width: '20%'}"> Empresas 20 </th>
                                <th [ngStyle]="{width: '20%'}"> C/ Analistas 80 </th>
                                <th [ngStyle]="{width: '20%'}"> C/ Clientes 150 </th>
                                <th [ngStyle]="{width: '20%'}"> TOTAL </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <!--
                                <td>{{rowData.Historic}}</td>
                                <td appAlignCenter>{{rowData.Level}}</td>
                                <td appAlignRight>{{rowData.CodeControl}}</td>
                                -->
                                <!--
                                <td appAlignCenter>
                                    <app-opcoes-table [value]="rowData" [opcoes]="opcoesTable"></app-opcoes-table>
                                </td>
                                -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="p-col-5">
                <div class="card">
                    <h5 class="centerText">Pendências por Empresas</h5>
                    <!--
                        [(rows)]="qtdLinhas" [totalRecords]="totalItens" [value]="lista"
                        (onLazyLoad)="lazyLoad($event)" [rowsPerPageOptions]="opcoesLinhas"
                    -->
                    <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th [ngStyle]="{width: '20%'}"> Empresas </th>
                                <th [ngStyle]="{width: '20%'}"> Contas </th>
                                <th [ngStyle]="{width: '20%'}"> C/ Analistas </th>
                                <th [ngStyle]="{width: '20%'}"> C/ Clientes </th>
                                <th [ngStyle]="{width: '20%'}"> TOTAL </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <!--
                                <td>{{rowData.Historic}}</td>
                                <td appAlignCenter>{{rowData.Level}}</td>
                                <td appAlignRight>{{rowData.CodeControl}}</td>
                                -->
                                <!--
                                <td appAlignCenter>
                                    <app-opcoes-table [value]="rowData" [opcoes]="opcoesTable"></app-opcoes-table>
                                </td>
                                -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
</div>
