<div class="p-fluid p-formgrid p-grid">
    <div class="p-col-1 p-offset-9" style="font-size: 18px; margin-right: -50px;">
        <i class="pi pi-file-pdf" style="font-size: 2rem; cursor: pointer" (click)="downloadPdf()"></i>
    </div>
    <div class="p-col-2" style="margin-bottom: 10px;">
        <button pButton label="Processar Conciliação" (click)="processConciliation()"></button>
    </div>
    <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm"
        [(selection)]="selected" [value]="lista" [paginator]="true" [rows]="10" [totalRecords]="lista.length"
        [rowsPerPageOptions]="opcoesLinhas">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2%">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 6%;" pSortableColumn="DateMovement">Data
                    <p-sortIcon field="DateMovement"></p-sortIcon>
                </th>
                <th style="width: 15%;" pSortableColumn="Historic">Histórico
                    <p-sortIcon field="Historic"></p-sortIcon>
                </th>
                <th style="width: 8%;" pSortableColumn="Document">Documento
                    <p-sortIcon field="Document"></p-sortIcon>
                </th>
                <th style="width: 6%;" pSortableColumn="Amount">Valor
                    <p-sortIcon field="Amount"></p-sortIcon>
                </th>
                <th style="width: 4%;" pSortableColumn="ReconciledType">Tipo
                    <p-sortIcon field="ReconciledType"></p-sortIcon>
                </th>
                <th style="width: 14%;" pSortableColumn="PersonName">Pessoa
                    <p-sortIcon field="PersonName"></p-sortIcon>
                </th>
                <th style="width: 14%;" pSortableColumn="Category">Natureza
                    <p-sortIcon field="Category"></p-sortIcon>
                </th>
                <th style="width: 2%;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td appAlignCenter>{{rowData.DateMovement | date}}</td>
                <td>{{rowData.Historic}}</td>
                <td>{{rowData.Document}}</td>
                <td appAlinharDireita [ngClass]="colorValue(rowData.Amount)">{{rowData.Amount | virgulaPipe}}</td>
                <td>{{rowData.ReconciledType}}</td>
                <td>{{rowData.PersonName}}</td>
                <td>{{rowData.Category}}</td>
                <td>
                    <app-opcoes-table [value]="rowData" [opcoes]="itemsRowConciliacao"></app-opcoes-table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog header="Confirmacao" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>