<div class="p-fluid p-formgrid p-grid">
    <div class="p-col-1">
        <!-- <app-tutorial [Classificacao]="'3.07.03'"></app-tutorial> -->
    </div>
    <div class="p-col-1 p-offset-8" style="font-size: 18px; margin-right: -50px;">
        <i class="pi pi-file-pdf" style="font-size: 2rem; cursor: pointer" (click)="downloadPdf()"></i>
    </div>
    <!-- <div class="p-col-2">
        <button pButton label="Reprocessar Extrato" (click)="reprocessarExtrato()"></button>
    </div> -->
    <div class="p-col-2">
        <button pButton label="Processar Conciliação" (click)="processarConciliacao()"></button>
    </div>
</div>
<div class="p-col p-fluid">
    <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [totalRecords]="extratoContaBanco.length" [value]="extratoContaBanco"
        [rowsPerPageOptions]="opcoesLinhas">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 15%;">Data do Movemto</th>
                <th style="width: 50%;">Histórico</th>
                <th style="width: 10%;">Valor</th>
                <th style="width: 10%;">Conciliado</th>
                <th style="width: 5%;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td appAlignCenter>{{rowData.DateMovement | date}}</td>
                <td>{{rowData.Historic}}</td>
                <td appAlinharDireita [ngClass]="colorValue(rowData.Amount)">{{rowData.Amount | virgulaPipe}}</td>
                <td>{{rowData.Reconciled === 'N' ? 'Não' : 'Sim'}}</td>
                <td>
                    <app-opcoes-table [value]="rowData" [opcoes]="itemsRow"></app-opcoes-table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog header="Confirmacao" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>