@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/core/main.min.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* *{
    font-family: 'Popins', sans-serif;
} */

body{
    background: #eaeff2;
}

.ajustar-botao-select {
position: relative;
bottom: 50px;
right: -50px;
}
.container{
display: flex;
align-items: center;
justify-content: start;
}

.container-grid{
width: 65%;
max-width: 1440px;
background-color: #f5f8f9;
padding: 10px;
border: 1px solid #dce2e7;
}

h1{
font-size: 24px;
}

.container-button{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.texto-verde {
color: rgba(0, 153, 0, 0.7);
font-weight: bold;
}

.texto-vermelho {
color: #bf6c68;
font-weight: bold;
}

.link-pessoa {
color: rgba(0,175,250, 1);
cursor: pointer;
transition: all .3s;
}

.link-pessoa:hover {
color: rgba(0,175,250, .6);
transition: all .3s;
text-decoration: underline;
}

.esconder {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: -100%;
    left: -100%;
}