@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap')
}

/* TODOS OS CARDS */
.cards-container {
    background: #FFFFFF;
    border-radius: 25px;
}

/* 1 CARD */
.cards {
    width: 28rem;
    display: flex;
    flex-direction: column;

    border-radius: 25px;
}

.card-1-transaction-card {
    background: linear-gradient(90deg, #04B6EB 0%, #0AC684 100%);
    width: 24rem;
    color: #fff;
    border-radius: 25px;
}

.card-1-transaction-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
}

.card-1-active-securities {
    width: 15rem;
    margin-top: 10px;
}

.card-1-active-securities p {
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #3B5CBF;
    margin-bottom: 1px;
    margin-top: 10px;
}

.card-1-active-securities span {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #4D4D4D;
}

.card-1-update-button {
    margin-left: 18rem;
    margin-top: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background: #FFFFFF;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    margin-top: -7.5rem;
}

.card-1-update-button:hover {
    cursor: pointer;
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.6);
}

.card-1-update-button p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #9C9C9C;
}

/* .card-1-update-button button {
    background: linear-gradient(90deg, #04B6EB 0%, #0AC684 100%);
} */

.card-1-update-button button:hover {
    /* background: linear-gradient(293.01deg, #4ac8ee -1.68%, #53e4b1 88.05%); */
    opacity: 60%;
    text-shadow: rgba(0, 0, 0, 0.5);
}

/* CARD DE PENDECIAS */
.pending-card-title {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

.pending-card {
    width: 24rem;
    background: #3B4CC0;
    border-radius: 25px;
    color: #fff;
}

.pending-card h5 {
    font-family: 'Popins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pending-card p {
    font-family: 'Popins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 1px;
    margin-top: 10px;
}

.pending-card span {
    font-family: 'Popins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* CARD GRAFICO DE BARRAS */
.bar-chart-card {
    margin-left: -3rem;
}

.bar-chart-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

/* CARD DO GRAFICO DE ROSCA */
.donut-chart-card {
    margin-left: 1rem;
}

.donut-chart-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

/* CARD DE TABELA */
.table-card {
    margin-left: -3rem;
    margin-top: 2rem;
}

.table-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
}

.table-card th {
    background: #E6E6E6;
    border: 1px solid #FFFFFF;
}
